<div class="shout"> 

  <%= render shout.content %>
  <p class="author"> 
  shouted by: <%= link_to shout.username, shout.user %>
  </p>
  <p>
  <time>
    Shouted <%= time_ago_in_words(shout.created_at) %> ago
  </time>
  <% if current_user.liked_shouts.include? shout %>
    <%= button_to "unlike", shout_like_path(shout), method: :delete %>
  <% else %>
    <%= button_to "like", shout_like_path(shout) %>
  <% end %> 
 <%= pluralize(shout.likes.count, "like") %> 
  </p>
</div>
