<h1>dashboard</h1>
<h1>welcome <%= current_user.username %></h1>

<%= form_for @text_shout do |form| %>
  <div>
    <%= form.label :body, "shout here" %>
  </div>

  <div>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_for @picture_shout do |form| %>

  <div>
    <%= form.label :url, "picture shout here" %>
  </div>

  <div>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<h2> timeline </h2>
<%= render @timeline %>
<%= paginate @timeline, window: 5 %>



