<h1>welcome <%= current_user.username %></h1> 

<%= form_for @shout do |form| %>

  <div>
  <%= form.label :content, "shout here" %>
  </div>

  <div>
  <%= form.text_field :content %>
  </div>

  <div>
  <%= form.submit %>
  </div>

<% end %>

<%= render current_user.shouts %>
